.container {
    position: relative;
    padding:10px;
    margin:10px;
    width:350px;
    float:left;
    border: 1px solid;
}

.image {
    display: block;
    width: 330px;
    height:330px;

}
.content_products_magazine{
    padding: 40px;
    margin-left:50px;

}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 349px;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 20%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.pagination{
    float:left;
    padding-top:400px;
}